<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    body{
        margin: 0 auto; 
        width:50ex; 
        height:400px;
        background-image: url("/images/1.jpeg");
        background-size:contain;
        background-repeat:  no-repeat;
        background-position:center center; 
        background-size:cover;                 
        width:80%;                             
        padding: 80px;
        text-align:center;
    }
    input{
        justify-content:flex-end;
        right:0;
        margin-left: auto;
    }
    div{
        
    }
    h1{
        font-weight: bold;
        font-size:100px;
        font-family: serif;
    }
    </style>
</head>
<body>
    <div>
    <h1>寿司押</h1>
    <h3>表示されたコードを入力してね</h3>
    <form action="/game_sql" method="get">
        <input type="submit" value="sql版を始める">
    </form>
    <form action="/game_ruby" method="get">
        <input type="submit" value="ruby版を始める">
    </form>
        <form action="/game_aws" method="get">
        <input type="submit" value="aws版を始める">
    </form>
    </div>
</body>
</html>