<h1>2chクローン</h1>
<%= link_to "スレッド新規作成", "/boards/new" %>
<hr>
<% @boards.each do |f| %>
    タイトル：<%= link_to f.title, board_path(f) %><br>
    作成者：<%= link_to f.editor, board_path(f) %><br>
<% end %>
